.ht-contacts__header-text {
    padding: 7% 0 0 0;
    font-size: 2em;
}

.ht-contacts__text {
    padding: 4% 0;
    color: #696969;
    font-size: 1.1em;
}

.ht-contacts__text-in {
    position: relative;
    bottom: 5px;
    padding: 0 0 0 15px;
    color: #696969;
    font-size: 1.1em;
    text-decoration: none;
}

.ht-contacts__line {
    display: flex;
    margin: 4% 0;
}

.ht-contacts__text-in_orange {
    color: #ae904a;
}

.ht-contacts__wrap {
    white-space: nowrap;
}
