.ht-my-exp__header {
    margin: 6% 10%;
}

.ht-my-exp__text-name {
    font-size: 2.5em;
}

.ht-my-exp__header::after {
    content: '';
    display: block;
    height: 0.5vh;
}

.ht-my-exp__text {
    margin: 3% 0;
    font-size: 1.1em;
}

.ht-my-exp__prev-job {
    display:flex;
    margin: 2% 10%;
}

.ht-my-exp__job-describe {
    margin: 0 0 0 5%;
}

.ht-my-exp__text-head {
    display: inline-block;
    font-size: 2em;
}

.ht-my-exp__text-date {
    display: inline-block;
}

.ht-my-exp__text-date {
    font-size: 1.2em;
    font-weight: bold;
}

.ht-my-exp__text-date_brown {
    color: #6e353c;
}

.ht-my-exp__text-date_green {
    color: #8e6c24;
}