.ht-author-sector__describe-text {
    padding: 0 0 2% 0;
}

.ht-author-sector__describe-text_big-font {
    font-size: 2.6em;
    opacity: .8;
}

.ht-author-sector__describe-text_orange {
    color: #efbc6b;
}

.ht-author-sector__describe-text_font-text {
    opacity: .6;
}