.ht-header-page__head-section {
    display: flex;
}

.ht-header-page__photo-sector {
    width: 50%;
    background-color: #f0e2d7;
    background-image: url(../../img/5.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.ht-header-page__info-sector {
    width: 50%;
    background-color: #f0e2d7;
}

.ht-header-page__nav-menu {
    padding: 5% 0 0 13%;
}

.ht-header-page__self-info {
    margin: 22% 8% 28% 8%;
}



