.ht-nav__menu-link {
    padding: 2%;
    color: #6e6a5f;
    font-weight: bold;
    text-decoration: none;
}

.ht-nav__menu-link_active {
    color: #dbb66f;
}

.ht-nav__menu-link:hover {
    color: #dbb66f;
}