.ht-skill-progress__progress-name {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 10px 0;
}

.ht-skill-progress__progress-bar {
    position: relative;
    height: 2px;
    background: #fff;
}

.ht-skill-progress__done-progress {
    position: absolute;
    top: 0; left: 0;
    height: 2px;
    background: #000000;
}

.ht-skill-progress__done-progress-ninety-per {
    width: 90%;
}

.ht-skill-progress__done-progress-seventy-per {
    width: 70%;
}

.ht-skill-progress__done-progress-eighty-per {
    width: 80%;
}

.ht-skill-progress__text-head,
.ht-skill-progress__describe-text-white {
    color: #fff;
}

.ht-skill-progress__text-head {
    padding: 10px 0;
}

.ht-skill-progress__text-head_big-font {
    font-size: 2.6em;
}

.ht-skill-progress__describe-text {
    color: #181818;
    font-weight: bold;
    white-space: nowrap;
}