.ht-skill-content {
    text-align: center;
}

.ht-skill-content__describe-text {
    margin: 8% 0;
}

.ht-skill-content__describe-text_big {
    font-size: 2em;
}

.ht-skill-content__describe-text_opacity {
    opacity: .8;
}

.ht-skill-content__describe-text_layout {
    position: relative;
    z-index: 10;
}

.ht-skill-content__describe-text_position {
    margin: 5% 0;
}

.ht-skill-content__describe-text_big-qout {
    font-size: 2.5em;
}

.ht-skill-content__describe-text_opacity {
    opacity: .6;
}